.header, 
.submit{
    background-color: teal;
}
.h1, 
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
h2{
    color: teal;
}
p, 
form{
    font-family: Arial, Helvetica, sans-serif;
}
.col-md-8{
    max-width: 100%;
}
footer{
    background-color: #666;
    border-top: teal solid 5px;
    width: 100%;
}
.gray {
    border-bottom: gray solid 4px;
}
.maxWidth{
   max-width: 700px;
}
.overlay{
    background-color: teal; 
    padding: 25px;
    width: 100%;
    text-align: center;
}